In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
coverage = pd.read_csv('../data/2015-2020_ACS_Insurance.csv',  encoding='cp1252')

In [3]:
coverage

,county,Year,Total population,Total population - Male,Total population - Female,"Total population - Hispanic or Latino, White",Total population - Black or African American,Total population - American Indian & Alaska Native,Total population - Asian,Total population - Native Hawaiian & Other Pacific Islander,...,Percent of Uninsured population - (American Indian and Alaska Native),Percent of Uninsured population - (Asian),Percent of Uninsured population - (Native Hawaiian and Other Pacific Islander),"Percent of Uninsured population - (HISPANIC OR LATINO, (Some other race alone)","Percent of Uninsured population - (HISPANIC OR LATINO, (Two or more races)","Percent of Uninsured population - (HISPANIC OR LATINO, (of any race)",Percent of Uninsured population - (White),GEOID,state,county.1
0,Meigs County,2020,12129,5982,6147,11536,224,45,33,-,...,0.0,0.0,-666666666.0,0.0,0.0,15.8,11.3,0500000US47121,47,121
1,Montgomery County,2020,191007,90431,100576,131487,37619,878,4744,605,...,6.4,8.6,6.6,19.2,8.9,13.8,6.8,0500000US47125,47,125
2,Moore County,2020,6302,3105,3197,5890,91,72,184,1,...,0.0,0.0,0.0,-666666666.0,0.0,-666666666.0,8.4,0500000US47127,47,127
3,Obion County,2020,29900,14372,15528,25021,3322,72,120,5,...,2.8,27.5,0.0,45.1,14.5,24.4,8.1,0500000US47131,47,131
4,Overton County,2020,21876,10700,11176,21214,71,24,70,139,...,0.0,0.0,0.0,100.0,7.4,0.0,9.0,0500000US47133,47,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,Bledsoe County,2016,12884,987,6771,6113,12139,132,108,12,...,0.0,0.0,0.0,-666666666.0,30.0,12.2,47.5,0500000US47007,47,7
471,Campbell County,2016,39509,2957,19329,20180,38655,221,106,84,...,10.4,0.0,0.0,-666666666.0,0.0,13.1,19.7,0500000US47013,47,13
472,Cannon County,2016,13666,1137,6753,6913,13044,169,58,96,...,10.7,0.0,62.5,-666666666.0,100.0,8.2,61.8,0500000US47015,47,15
473,Houston County,2016,8037,580,4025,4012,7589,229,40,22,...,36.2,0.0,100.0,-666666666.0,-666666666.0,3.8,26.7,0500000US47083,47,83
474,Maury County,2016,84594,6653,40622,43972,71206,9749,347,681,...,12.0,25.6,34.2,-666666666.0,29.6,5.0,38.0,0500000US47119,47,119

In [4]:
coverage.columns = coverage.columns.str.strip()

In [5]:
coverage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 67 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   county                                                                               475 non-null    object
 1   Year                                                                                 475 non-null    int64
 2   Total population                                                                     475 non-null    int64
 3   Total population - Male                                                              475 non-null    int64
 4   Total population - Female                                                            475 non-null    int64
 5   Total population - Hispanic or Latino, White                                         475 non-null    int64
 6   Total population - Black or African American                                         475 non-null    object
 7   Total population - American Indian & Alaska Native                                   475 non-null    object
 8   Total population - Asian                                                             475 non-null    object
 9   Total population - Native Hawaiian & Other Pacific Islander                          475 non-null    object
 10  Total population - Some other race alone                                             475 non-null    object
 11  Total population - Hispanic or Latino, Two or more races                             475 non-null    object
 12  Total population -Hispanic or Latino (of any race)                                   475 non-null    object
 13  Total population - White                                                             475 non-null    int64
 14  Total (General) – Ratio to Poverty (poverty status determined)                       475 non-null    int64
 15  Total (General) – Ratio to Poverty (Below 100 percent of the poverty threshold)      475 non-null    int64
 16  Total – Insured Population                                                           475 non-null    int64
 17  Total – Insured Population (Male)                                                    475 non-null    int64
 18  Total – Insured Population (Female)                                                  475 non-null    int64
 19  Total – Insured Population (HISPANIC OR LATINO, White)                               475 non-null    int64
 20  Total – Insured Population (Black or African American)                               475 non-null    object
 21  Total – Insured Population (American Indian and Alaska Native)                       475 non-null    object
 22  Total – Insured Population (Asian)                                                   475 non-null    object
 23  Total – Insured Population (Native Hawaiian and Other Pacific Islander)              475 non-null    object
 24  Total – Insured Population (HISPANIC OR LATINO ORIGIN (Some other race alone)        475 non-null    object
 25  Total – Insured Population (HISPANIC OR LATINO ORIGIN (Two or more races)            475 non-null    object
 26  Total – Insured Population (HISPANIC OR LATINO ORIGIN (of any race)                  475 non-null    object
 27  Total – Insured Population (White)                                                   475 non-null    object
 28  Percent of Insured population                                                        475 non-null    float64
 29  Percent of Insured population - (Male)                                               475 non-null    float64
 30  Percent of Insured population - (Female)                                             475 non-null    float64
 31  Percent of Insured population - (HISPANIC OR LATINO, White)                          475 non-null    float64
 32  Percent of Insured population - (Black or African American)                          475 non-null    float64
 33  Percent of Insured population - (American Indian and Alaska Native)                  475 non-null    float64
 34  Percent of Insured population - (Asian)                                              475 non-null    float64
 35  Percent of Insured population - (Native Hawaiian and Other Pacific Islander)         475 non-null    float64
 36  Percent of Insured population - (HISPANIC OR LATINO ORIGIN, (Some other race alone)  475 non-null    float64
 37  Percent of Insured population - (HISPANIC OR LATINO ORIGIN, (Two or more races)      475 non-null    float64
 38  Percent of Insured population - (HISPANIC OR LATINO ORIGIN, (of any race)            475 non-null    float64
 39  Percent of Insured population - (White)                                              475 non-null    float64
 40  Total – Uninsured Population                                                         475 non-null    int64
 41  Total – Uninsured Population (Male)                                                  475 non-null    int64
 42  Total – Uninsured Population (Female)                                                475 non-null    int64
 43  Total – Uninsured Population (HISPANIC OR LATINO, White)                             475 non-null    int64
 44  Total – Uninsured Population (Black or African American)                             475 non-null    object
 45  Total – Uninsured Population (American Indian and Alaska Native)                     475 non-null    object
 46  Total – Uninsured Population (Asian)                                                 475 non-null    object
 47  Total – Uninsured Population (Native Hawaiian and Other Pacific Islander)            475 non-null    object
 48  Total – Uninsured Population (HISPANIC OR LATINO, (Some other race)                  475 non-null    object
 49  Total – Uninsured Population (HISPANIC OR LATINO, (Two or more races)                475 non-null    object
 50  Total – Uninsured Population (HISPANIC OR LATINO, (of any race)                      475 non-null    object
 51  Total – Uninsured Population (White)                                                 475 non-null    object
 52  Percent of Uninsured population                                                      475 non-null    float64
 53  Percent of Uninsured population - (Male)                                             475 non-null    float64
 54  Percent of Uninsured population - (Female)                                           475 non-null    float64
 55  Percent of Uninsured population - (HISPANIC OR LATINO, White)                        475 non-null    float64
 56  Percent of Uninsured population - (Black or African American)                        475 non-null    float64
 57  Percent of Uninsured population - (American Indian and Alaska Native)                475 non-null    float64
 58  Percent of Uninsured population - (Asian)                                            475 non-null    float64
 59  Percent of Uninsured population - (Native Hawaiian and Other Pacific Islander)       475 non-null    float64
 60  Percent of Uninsured population - (HISPANIC OR LATINO, (Some other race alone)       475 non-null    float64
 61  Percent of Uninsured population - (HISPANIC OR LATINO, (Two or more races)           475 non-null    float64
 62  Percent of Uninsured population - (HISPANIC OR LATINO, (of any race)                 475 non-null    float64
 63  Percent of Uninsured population - (White)                                            475 non-null    float64
 64  GEOID                                                                                475 non-null    object
 65  state                                                                                475 non-null    int64
 66  county.1                                                                             475 non-null    int64
dtypes: float64(24), int64(18), object(25)
memory usage: 248.8+ KB

In [6]:
cov = coverage[['county','Year','Total – Insured Population (Female)','Total – Uninsured Population (Female)']]

In [7]:
cov

,county,Year,Total – Insured Population (Female),Total – Uninsured Population (Female)
0,Meigs County,2020,5471,676
1,Montgomery County,2020,94481,6095
2,Moore County,2020,2941,256
3,Obion County,2020,14157,1371
4,Overton County,2020,10360,816
...,...,...,...,...
470,Bledsoe County,2016,5704,1067
471,Campbell County,2016,16534,2795
472,Cannon County,2016,5777,976
473,Houston County,2016,3501,524
474,Maury County,2016,35635,4987

In [8]:
cov.columns = ['county', 'year', 'insured_female', 'uninsured_female']
cov

                county  year  insured_female  uninsured_female
0         Meigs County  2020            5471               676
1    Montgomery County  2020           94481              6095
2         Moore County  2020            2941               256
3         Obion County  2020           14157              1371
4       Overton County  2020           10360               816
..                 ...   ...             ...               ...
470     Bledsoe County  2016            5704              1067
471    Campbell County  2016           16534              2795
472      Cannon County  2016            5777               976
473     Houston County  2016            3501               524
474       Maury County  2016           35635              4987

[475 rows x 4 columns]

In [9]:
cov.groupby(['county']).insured_female.agg({'sum'})

                      sum
county
Anderson County    175695
Bedford County     105641
Benton County       36289
Bledsoe County      27286
Blount County      297609
...                   ...
Wayne County        32255
Weakley County      76683
White County        59408
Williamson County  526801
Wilson County      311921

[95 rows x 1 columns]

In [10]:
cov.groupby(['county']).agg({'insured_female': ['sum']})

                  insured_female
                             sum
county
Anderson County           175695
Bedford County            105641
Benton County              36289
Bledsoe County             27286
Blount County             297609
...                          ...
Wayne County               32255
Weakley County             76683
White County               59408
Williamson County         526801
Wilson County             311921

[95 rows x 1 columns]

In [11]:
insured = cov.groupby(['county']).agg({'insured_female': ['sum']})
insured

                  insured_female
                             sum
county
Anderson County           175695
Bedford County            105641
Benton County              36289
Bledsoe County             27286
Blount County             297609
...                          ...
Wayne County               32255
Weakley County             76683
White County               59408
Williamson County         526801
Wilson County             311921

[95 rows x 1 columns]

In [12]:
cov.groupby(['county']).agg({'uninsured_female': ['sum']})

                  uninsured_female
                               sum
county
Anderson County              14713
Bedford County               13393
Benton County                 4289
Bledsoe County                3542
Blount County                27029
...                            ...
Wayne County                  4669
Weakley County                7217
White County                  7460
Williamson County            25971
Wilson County                21580

[95 rows x 1 columns]

In [13]:
uninsured = cov.groupby(['county']).agg({'uninsured_female': ['sum']})
uninsured

                  uninsured_female
                               sum
county
Anderson County              14713
Bedford County               13393
Benton County                 4289
Bledsoe County                3542
Blount County                27029
...                            ...
Wayne County                  4669
Weakley County                7217
White County                  7460
Williamson County            25971
Wilson County                21580

[95 rows x 1 columns]

In [14]:
insurance = insured.merge(uninsured, on =['county'], how='outer')
insurance

                  insured_female uninsured_female
                             sum              sum
county
Anderson County           175695            14713
Bedford County            105641            13393
Benton County              36289             4289
Bledsoe County             27286             3542
Blount County             297609            27029
...                          ...              ...
Wayne County               32255             4669
Weakley County             76683             7217
White County               59408             7460
Williamson County         526801            25971
Wilson County             311921            21580

[95 rows x 2 columns]

In [15]:
death_rate = pd.read_csv('../data/2015-2020 death.csv')
death_rate

,County,FIPS,Met Healthy People Objective of 15.3?,"Age-Adjusted Death Rate([rate note]) - deaths per 100,000",Race,Lower CI (Rate),Upper CI (Rate),CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Death Rates,Lower 95% Confidence Interval,Upper 95% Confidence Interval
0,Tennessee,47000,No,21.6,All races,21,22.2,N/A,2,16,978,falling,-1.4,-1.6,-1.2
1,United States,0,No,19.6,All races,19.5,19.7,N/A,N/A,N/A,42101,falling,-1.3,-1.4,-1.1
2,Crockett County,47033,No,31.9,All races,17.3,54.4,1,1,69,3,*,*,*,*
3,Unicoi County,47171,No,31.7,All races,19.6,49.9,2,1,66,5,*,*,*,*
4,Scott County,47151,No,31.3,All races,19.5,48,3,1,68,5,stable,0.8,-0.8,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Wayne County,47181,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
287,Weakley County,47183,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
288,White County,47185,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
289,Williamson County,47187,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
290,Wilson County,47189,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*

In [16]:
death_rate = death_rate.rename(columns={'County' : 'county'})
death_rate

,county,FIPS,Met Healthy People Objective of 15.3?,"Age-Adjusted Death Rate([rate note]) - deaths per 100,000",Race,Lower CI (Rate),Upper CI (Rate),CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Death Rates,Lower 95% Confidence Interval,Upper 95% Confidence Interval
0,Tennessee,47000,No,21.6,All races,21,22.2,N/A,2,16,978,falling,-1.4,-1.6,-1.2
1,United States,0,No,19.6,All races,19.5,19.7,N/A,N/A,N/A,42101,falling,-1.3,-1.4,-1.1
2,Crockett County,47033,No,31.9,All races,17.3,54.4,1,1,69,3,*,*,*,*
3,Unicoi County,47171,No,31.7,All races,19.6,49.9,2,1,66,5,*,*,*,*
4,Scott County,47151,No,31.3,All races,19.5,48,3,1,68,5,stable,0.8,-0.8,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Wayne County,47181,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
287,Weakley County,47183,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
288,White County,47185,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
289,Williamson County,47187,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
290,Wilson County,47189,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*

In [17]:
death_rate = death_rate.rename(columns={'Age-Adjusted Death Rate([rate note]) - deaths per 100,000' : 'death_rate'})
death_rate

,county,FIPS,Met Healthy People Objective of 15.3?,death_rate,Race,Lower CI (Rate),Upper CI (Rate),CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Death Rates,Lower 95% Confidence Interval,Upper 95% Confidence Interval
0,Tennessee,47000,No,21.6,All races,21,22.2,N/A,2,16,978,falling,-1.4,-1.6,-1.2
1,United States,0,No,19.6,All races,19.5,19.7,N/A,N/A,N/A,42101,falling,-1.3,-1.4,-1.1
2,Crockett County,47033,No,31.9,All races,17.3,54.4,1,1,69,3,*,*,*,*
3,Unicoi County,47171,No,31.7,All races,19.6,49.9,2,1,66,5,*,*,*,*
4,Scott County,47151,No,31.3,All races,19.5,48,3,1,68,5,stable,0.8,-0.8,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Wayne County,47181,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
287,Weakley County,47183,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
288,White County,47185,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
289,Williamson County,47187,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*
290,Wilson County,47189,***,NaN,Black,*,*,*,*,*,3 or fewer,*,*,*,*

In [18]:
death_rate1 = death_rate[(death_rate['Race'] == 'All races')]
death_rate1

,county,FIPS,Met Healthy People Objective of 15.3?,death_rate,Race,Lower CI (Rate),Upper CI (Rate),CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Death Rates,Lower 95% Confidence Interval,Upper 95% Confidence Interval
0,Tennessee,47000,No,21.6,All races,21,22.2,N/A,2,16,978,falling,-1.4,-1.6,-1.2
1,United States,0,No,19.6,All races,19.5,19.7,N/A,N/A,N/A,42101,falling,-1.3,-1.4,-1.1
2,Crockett County,47033,No,31.9,All races,17.3,54.4,1,1,69,3,*,*,*,*
3,Unicoi County,47171,No,31.7,All races,19.6,49.9,2,1,66,5,*,*,*,*
4,Scott County,47151,No,31.3,All races,19.5,48,3,1,68,5,stable,0.8,-0.8,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Smith County,47159,***,NaN,All races,*,*,*,*,*,3 or fewer,*,*,*,*
93,Stewart County,47161,***,NaN,All races,*,*,*,*,*,3 or fewer,*,*,*,*
94,Trousdale County,47169,***,NaN,All races,*,*,*,*,*,3 or fewer,*,*,*,*
95,Van Buren County,47175,***,NaN,All races,*,*,*,*,*,3 or fewer,*,*,*,*
96,Wayne County,47181,***,NaN,All races,*,*,*,*,*,3 or fewer,*,*,*,*

In [19]:
bc_rate = death_rate1[['county','death_rate','Race']]
bc_rate

              county  death_rate       Race
0          Tennessee        21.6  All races
1      United States        19.6  All races
2    Crockett County        31.9  All races
3      Unicoi County        31.7  All races
4       Scott County        31.3  All races
..               ...         ...        ...
92      Smith County         NaN  All races
93    Stewart County         NaN  All races
94  Trousdale County         NaN  All races
95  Van Buren County         NaN  All races
96      Wayne County         NaN  All races

[97 rows x 3 columns]

In [20]:
bc_rate = bc_rate.rename(columns={'Race' : 'race'})
bc_rate

              county  death_rate       race
0          Tennessee        21.6  All races
1      United States        19.6  All races
2    Crockett County        31.9  All races
3      Unicoi County        31.7  All races
4       Scott County        31.3  All races
..               ...         ...        ...
92      Smith County         NaN  All races
93    Stewart County         NaN  All races
94  Trousdale County         NaN  All races
95  Van Buren County         NaN  All races
96      Wayne County         NaN  All races

[97 rows x 3 columns]

In [21]:
bc_rate.drop(bc_rate.index[bc_rate['county']=='Tennessee'], inplace=True)

In [22]:
bc_rate

              county  death_rate       race
1      United States        19.6  All races
2    Crockett County        31.9  All races
3      Unicoi County        31.7  All races
4       Scott County        31.3  All races
5     Weakley County        31.1  All races
..               ...         ...        ...
92      Smith County         NaN  All races
93    Stewart County         NaN  All races
94  Trousdale County         NaN  All races
95  Van Buren County         NaN  All races
96      Wayne County         NaN  All races

[96 rows x 3 columns]

In [23]:
bc_rate.drop(bc_rate.index[bc_rate['county']=='United States'], inplace=True)

In [24]:
bc_rate

              county  death_rate       race
2    Crockett County        31.9  All races
3      Unicoi County        31.7  All races
4       Scott County        31.3  All races
5     Weakley County        31.1  All races
6      Grundy County        30.9  All races
..               ...         ...        ...
92      Smith County         NaN  All races
93    Stewart County         NaN  All races
94  Trousdale County         NaN  All races
95  Van Buren County         NaN  All races
96      Wayne County         NaN  All races

[95 rows x 3 columns]

now it's time to merged the cleaned Breast Cancer Death rate df with the Insurance df.

In [25]:
capstone = insurance.merge(bc_rate, on=['county'], how='outer')
capstone

C:\Users\aaust\AppData\Local\Temp\ipykernel_7956\2708860099.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  capstone = insurance.merge(bc_rate, on=['county'], how='outer')

,county,"(insured_female, sum)","(uninsured_female, sum)",death_rate,race
0,Anderson County,175695,14713,22.0,All races
1,Bedford County,105641,13393,20.2,All races
2,Benton County,36289,4289,NaN,All races
3,Bledsoe County,27286,3542,NaN,All races
4,Blount County,297609,27029,19.1,All races
...,...,...,...,...,...
90,Wayne County,32255,4669,NaN,All races
91,Weakley County,76683,7217,31.1,All races
92,White County,59408,7460,20.9,All races
93,Williamson County,526801,25971,20.0,All races
94,Wilson County,311921,21580,19.4,All races

In [26]:
capstone.tail()

,county,"(insured_female, sum)","(uninsured_female, sum)",death_rate,race
90,Wayne County,32255,4669,NaN,All races
91,Weakley County,76683,7217,31.1,All races
92,White County,59408,7460,20.9,All races
93,Williamson County,526801,25971,20.0,All races
94,Wilson County,311921,21580,19.4,All races

In [27]:
capstone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95 entries, 0 to 94
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   county                   95 non-null     object
 1   (insured_female, sum)    95 non-null     int64
 2   (uninsured_female, sum)  95 non-null     int64
 3   death_rate               69 non-null     float64
 4   race                     95 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 4.5+ KB

capstone.rename(columns={'(insured_female, sum)' : 'insured_female'})

In [28]:
capstone = capstone.sort_values(by='death_rate', ascending=False)
capstone

,county,"(insured_female, sum)","(uninsured_female, sum)",death_rate,race
16,Crockett County,32320,4217,31.9,All races
85,Unicoi County,39588,3761,31.7,All races
75,Scott County,48759,5678,31.3,All races
91,Weakley County,76683,7217,31.1,All races
30,Grundy County,28295,5002,30.9,All races
...,...,...,...,...,...
79,Smith County,44595,3687,NaN,All races
80,Stewart County,30905,2317,NaN,All races
84,Trousdale County,18500,2111,NaN,All races
87,Van Buren County,12171,1805,NaN,All races
90,Wayne County,32255,4669,NaN,All races

In [33]:
capstone.to_csv('capstone.csv')

In [34]:
capstone

,county,"(insured_female, sum)","(uninsured_female, sum)",death_rate,race
16,Crockett County,32320,4217,31.9,All races
85,Unicoi County,39588,3761,31.7,All races
75,Scott County,48759,5678,31.3,All races
91,Weakley County,76683,7217,31.1,All races
30,Grundy County,28295,5002,30.9,All races
...,...,...,...,...,...
79,Smith County,44595,3687,NaN,All races
80,Stewart County,30905,2317,NaN,All races
84,Trousdale County,18500,2111,NaN,All races
87,Van Buren County,12171,1805,NaN,All races
90,Wayne County,32255,4669,NaN,All races

In [29]:
capstone[(capstone['death_rate'] > 25.7)]

,county,"(insured_female, sum)","(uninsured_female, sum)",death_rate,race
16,Crockett County,32320,4217,31.9,All races
85,Unicoi County,39588,3761,31.7,All races
75,Scott County,48759,5678,31.3,All races
91,Weakley County,76683,7217,31.1,All races
30,Grundy County,28295,5002,30.9,All races
38,Henderson County,63811,6175,29.7,All races
83,Tipton County,141052,12441,29.6,All races
48,Lauderdale County,54916,5973,29.4,All races
86,Union County,43179,5268,27.3,All races
21,Dickson County,116437,14167,27.2,All races
78,Shelby County,2125360,264365,27.0,All races
40,Hickman County,51826,6040,26.7,All races
11,Chester County,38834,4921,26.6,All races
64,Morgan County,42413,5243,26.5,All races
10,Cheatham County,90432,8901,25.9,All races

In [30]:
top15 = capstone[(capstone['death_rate'] > 25.7)]
top15

,county,"(insured_female, sum)","(uninsured_female, sum)",death_rate,race
16,Crockett County,32320,4217,31.9,All races
85,Unicoi County,39588,3761,31.7,All races
75,Scott County,48759,5678,31.3,All races
91,Weakley County,76683,7217,31.1,All races
30,Grundy County,28295,5002,30.9,All races
38,Henderson County,63811,6175,29.7,All races
83,Tipton County,141052,12441,29.6,All races
48,Lauderdale County,54916,5973,29.4,All races
86,Union County,43179,5268,27.3,All races
21,Dickson County,116437,14167,27.2,All races
78,Shelby County,2125360,264365,27.0,All races
40,Hickman County,51826,6040,26.7,All races
11,Chester County,38834,4921,26.6,All races
64,Morgan County,42413,5243,26.5,All races
10,Cheatham County,90432,8901,25.9,All races

In [31]:
top15.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 16 to 10
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   county                   15 non-null     object
 1   (insured_female, sum)    15 non-null     int64
 2   (uninsured_female, sum)  15 non-null     int64
 3   death_rate               15 non-null     float64
 4   race                     15 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 720.0+ bytes

In [32]:
sns.barplot(data=top15, x='county', y='(uninsured_female, sum)')

ValueError: Could not interpret input '(uninsured_female, sum)'

In [ ]:
plt.figure(figsize=(6, 6))

corr = top15.corr()

# create a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, cmap=cmap, mask = mask, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5});

mammogram.groupby(['County Name']).agg({'zip code': ['count']}) - when you finally add the mammogram facilities data